@import url("https://fonts.googleapis.com/css2?family=Calistoga&display=swap");

body {
  background-color: #212529;
  color: white;
}

.App {
  text-align: center;
}

h1 {
  margin-top: 50px;
}

button {
  background-color: #2d46b9;
  border: none;
  padding: 15px;
  margin: 50px;
  border-radius: 23px;
  color: white;
}

.column3 {
  float: left !important;
  width: 33% !important;
}

.profile {
  max-width: 300px;
  margin: 30px auto;
  text-align: center;
  font-family: arial;
  padding: 20px;
  border-radius: 23px;
  background: linear-gradient(135deg, #2d46b9, #1e3163);
}

.email {
  color: gainsboro;
  font-size: 18px;
  font-weight: 500;
}

.name {
  font-size: 25px;
  font-weight: bolder;
}

#main {
  padding: 7px 50px;
  margin: 0 auto;
  display: none;
}

.avatar {
  border-radius: 15px;
}
